@import url("primereact/resources/themes/lara-dark-cyan/theme.css"); /* Theme you are using */
@import url("primereact/resources/primereact.min.css");
@import url("primeicons/primeicons.css");

body {
  margin: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--surface-ground);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#password .p-icon-field {
  width: 100%;
}

.routine-workout:hover {
  background-color: var(--primary-900);
}

.routine-workout {
  transition: background-color 0.3s;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: var(--primary-800);
}
